	format=json
	lang=en
	code=ASOC/NES, ASOC RPC, ESCO, ISCO-08
	maxConcepts = 5
	baseUrl = https://www.janzz.jobs/japi/
	token = j92g87s0m4mu7sh7hnus876vv4
	fullmatch = 1.0
	treshold = .5
	asoc_file = P:\\HRDF\\Data\\ESCO\\T_20141119_ASOC Structure (adjusted for NES)_v1 0.xlsx
	stopwords_ar = in_Riyadh Dallah # KSA Saudi_National_Only Jeddah Qatar_Airways in_Saudi_Arabia Arabic_Speaker (Saudi_Nationals_Only) KSA_Western enthusiastic talented looking_for
	stopwords_en = ||_Saudi_Arabia -_Riyadh  (Female)  (male)  KSA Excellent_Opportunity_for_a   Jeddah -_Arabic Nationals -_1_to_3 years_exp  (Riyadh/Dammam/Jeddah) /_Jeddah enthusiastic talented looking_for
	
